body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 5% 24%;
    line-height: 160%;
    background-color: #eeeeee;
    color: #5A4735;
}
h1,h2,h3 {
    font-family: Georgia, "Times New Roman", Times, serif;
    letter-spacing: 2px;
    color: #284907;
}
a,a:hover,a:visited {
    color: brown;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
