{% extends "layout.html" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
{% autoescape false %}
{{ html }}
{% endautoescape %}
<hr />
<a href="{markup_url}">View markdown source</a>
<br /><br />
<span style="font-size: 60%; color: #888888;">Powered by <a href="http://flask.pocoo.org/">Flask</a>, 
<a href="http://blog.nearlyfreespeech.net/2010/04/03/pools-arbitrary-http-servers-resource-reservation-and-scalability/"
>NFS Pools</a>, Dropbox, Komodo and ExpanDrive; 
<a href="/src">view site source</a>
{% endblock %}